# Selecting Data PostgreSQL

## Introduction

Now that you've gotten a brief introduction to SQL, its time to get some hands on practice connecting to a database via Python and executing to some queries.

## Objectives

You will be able to:

* Understand the basic structure of a `SELECT` statement in SQL

## Connecting To a Database

First let's connect to our database by importing psycopg2 and running the following cell in our notebook. You'll need a cursor object (`cur`) to fetch results. Cursor objects allow you to keep track of which result set is which, since it's possible to run multiple queries before you're done fetching the results of the first.

```python 
import psycopg2
conn = psycopg2.connect('data_base_infos')
cur = conn.cursor()
```
you will not have `psycog2` already installed in your anaconda enviroment, so go ahead and execute the following to install pyscog2 to your `(base)(Python3.x.x)`

```python
$ conda activate base 
$ pip install psycopg2
$ conda deactivate
$ conda list  ** to check
```

In [2]:
# connect database and create cursor here
import psycopg2 
conn = psycopg2.connect(
    host = "localhost",
    database="dvdrental_download",
    user="postgres",
    password="123456postgre",
    port="5432"
)
cur = conn.cursor()

## Querying Via the Connection

Now that you're connected to the database, let's take a look at how you can query the data within.

With your cursor object, you can execute queries

In [29]:
cur.execute("""SELECT * FROM actor LIMIT 5;""")

The execute command itself only returns the cursor object. To see the results, you must use the fetchall method afterwards.

In [20]:
cur.fetchall()
#cur.fetchmany(2)

[(1,
  'Penelope',
  'Guiness',
  datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (4, 'Jennifer', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (5,
  'Johnny',
  'Lollobrigida',
  datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]

In [23]:
len(cur.fetchall())

5

In [30]:
data=cur.fetchall()

In [31]:
data

[(1,
  'Penelope',
  'Guiness',
  datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (4, 'Jennifer', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (5,
  'Johnny',
  'Lollobrigida',
  datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]

It's also possible to combine the previous two cells into one line, like so:

In [ ]:
## Uncomment cell to display contents:

# cur.execute("""SELECT * FROM employees LIMIT 5;""").fetchall()

### Quick note on formatting syntax:

When working with strings, you may have previously seen a `'string'`, a `"string"`, a `'''string'''`, or a `"""string"""`. While all of these are strings, the triple quotes have the added functionality of being able to use multiple lines within the same string. Sometimes, SQL queries can be much longer than others, in which case it's helpful to use new lines for readability. Here's a short example:

In [ ]:
## Uncomment cell to display contents:

# cur.execute("""SELECT * 
#                FROM employees 
#                LIMIT 5;""").fetchall()

## Wrapping Results Into Pandas DataFrames

Often, a more convenient output will be to turn these results into pandas DataFrames. To do this, you simply wrap the `c.fetchall()` output with a pandas DataFrame constructor:

In [1]:
import pandas as pd

In [31]:
cur.execute("""SELECT * FROM actors LIMIT 5;""")
df = pd.DataFrame(cur.fetchall())
df.head()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

Sadly as you can see this is slightly clunky as we do not have the column names. 

We can access the column names by calling `cur.description`, like so:

In [ ]:
cur.execute("""SELECT * FROM aws""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head(10)

- Check out the documentation for more info on cursor methods and attributes [here](https://docs.python.org/2/library/sqlite3.html#sqlite3.Cursor).

## The Where Clause

In general, the where clause filters query results by some condition. As you are starting to see, you can also combine multiple conditions.

### Selecting Customers From a Specific City

In [ ]:
cur.execute("""SELECT * FROM aws WHERE author_id = '4';""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

### Selecting Multiple Cities

In [ ]:
cur.execute("""SELECT * FROM aws WHERE author_id = '3' OR viewer_id = '6';""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

once we have the the data as a dataframe, we need to close the cursor and the connection by calling these two cods `cur.close()`, `conn.close()`

In [ ]:
## close the cursor
cur.close()

## close the connection 
conn.close()

### Let us now practice more using the right way

In [ ]:
## connect to postgress
conn  = psycopg2.connect(
    host = "localhost",
    database="",
    user="postgres",
    password="postgres",
    port="5432"
)

### Using with

In [ ]:
from config import config

In [ ]:
params = config()

In [ ]:
connection = None
try:
    params = config()
    print('Connecting to the postgreSQL database ...')
    connection = psycopg2.connect(**params)
     # connection = psycopg2.connect(
    #     host = "localhost",
    #     database="users",
    #     user="postgres",
    #     password="postgres",
    #     port="5432"
    # )
    # create a cursor
    crsr = connection.cursor()
    print('PostgreSQL database version: ')
    sql_query = """
        SELECT * FROM actor
    """
    crsr.execute(sql_query)
    # db_version = crsr.fetchone()
    # print(db_version)
    df_actor = pd.DataFrame(crsr.fetchall())
    df_actor.columns = [x[0] for x in crsr.description]
    crsr.close()
except(Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if connection is not None:
        connection.commit()
        connection.close()
        print('Database connection terminated.')

## Summary

In this lesson, you saw how to connect to a SQL database via python and how to subsequently execute queries against that database. Going forward, you'll continue to learn additional keywords for specifying your query parameters!

In [1]:
connection = None
try:
    params = config()
    print('Connecting to the postgreSQL database ...')
    connection = psycopg2.connect(**params)
     # connection = psycopg2.connect(
    #     host = "localhost",
    #     database="users",
    #     user="postgres",
    #     password="postgres",
    #     port="5432"
    # )
    # create a cursor
    crsr = connection.cursor()
    print('PostgreSQL database version: ')
    sql_query = """
        SELECT * FROM actor
    """
    crsr.execute(sql_query)
    # db_version = crsr.fetchone()
    # print(db_version)
    df_actor = pd.DataFrame(crsr.fetchall())
    df_actor.columns = [x[0] for x in crsr.description]
    crsr.close()
except(Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if connection is not None:
        connection.commit()
        connection.close()
        print('Database connection terminated.')

NameError: name 'psycopg2' is not defined